.detail-item-wrapper {
    text-align: center;
    .detail-item-top {
        display: flex;
        justify-content: space-around;
        .item-top {
            background-color: rgba(11, 11, 11, 0.9);
            border-radius: 10px;
            font-size: 25px;
            font-weight: 300;
            margin: 15px;
            width: 40%;
            @media (max-width: 767px) {
                width: 80%;
            }
            @media (max-width: 412px) {
                justify-content: space-around;
                align-items: center;
                border-radius: 2px;
            }
            .item-top-title {
                font-weight: 300;
                text-transform: uppercase;
                color: rgb(246, 172, 76);
            }
            .item-top-mission {
                color: rgb(250, 216, 172);
                @media (max-width: 412px) {
                    display: none;
                }
            }
            .item-top-track {
                color: rgba(246, 191, 119, 0.5);
                span {
                    color: rgb(246, 172, 76);
                    font-weight: 400;
                }
            }
            .image {
                width: 100%;
            }
            @media (max-width: 576px) {
                .item-top-title {
                    font-size: 20px;
                    font-weight: 400;
                }
                .item-top-mission {
                    font-size: 20px;
                }
            }
        }
    }
    .detail-item-bottom {
        display: flex;
        justify-content: space-around;
        .item-bottom {
            width: 80%;
            border: 1px solid rgba(246, 191, 119, 0.5);
            border-radius: 5px;
            background-color: rgba(11, 11, 11, 0.8);
            font-size: 25px;
            margin-top: 35px;
            @media (max-width: 412px) {
                width: 90%;
            }
            .item-bottom-sample {
                color: rgb(250, 216, 172);
                margin: 25px;
                font-size: 35px;
                @media (max-width: 576px) {
                    font-size: 25px;   
                }
            }
            .item-bottom-option {
                display: flex;
                justify-content: space-around;
                margin-bottom: 35px;
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;             
                }
                .bottom-option {
                    text-align: center;
                    align-items: center;
                    background-color: rgba(11, 11, 11, 0.8);
                    border: 1px solid rgba(246, 191, 119, 0.3);
                    border-radius: 5px;
                    font-size: 25px;
                    color: rgb(246, 172, 76);
                    cursor: pointer;
                    padding: 3px 10px;
                    transition: all 0.3s ease;
                    @media (max-width: 767px) {
                        margin-top: 20px;
                        width: 50%;
                    }
                }
                .bottom-option:hover {
                    color: rgb(250, 216, 172);
                    box-shadow: 0 0 10px rgba(246, 191, 119, 0.5);
                }
            }
        }
    }
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 15vh;
    .result-btn {
        margin: 0 auto;
        @media (max-width: 576px) {
            font-size: 15px;
            height: 100px;
            width: 100px;
            border: 5px solid  rgba(250, 216, 172, 0.3);
        }
    }
}
