.category {
    display: flex;
    justify-content: right;
    .nav {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-right: 40px;
        margin-bottom: 1rem;
        a {
            display: flex;
            justify-content: center;
            text-align: center;
            color: rgb(246, 172, 76);
            border: 1px solid  rgba(246, 191, 119, 0.5);
            border-radius: 5px;
            background-color: rgba(48, 30, 30, 0.7);
            padding: 0 5px;
            font-size: 25px;
            font-weight: 400;
            width: 40vw;
            margin: 10px auto;
            padding: 10px;
            transition: all 0.3s ease;
            @media (max-width: 576px) {
                    font-size: 20px;
            }
            @media (max-width: 1024px) {
                    width: 60vw;
            }
            &:hover {
                color: rgb(250, 216, 172);
                box-shadow: 0 0 10px rgba(246, 191, 119, 0.8);
                transform: translateY(-2px);
            }
        }
    }
}

@media (max-width: 1024px) {
    .category {
        justify-content: center;
    }
}