p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.app-content-wrapper {
    color: white;
    background-image: url(../../assets/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    .content-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 1024px) {
            background-color: rgba(0, 0, 0, 0.75);
        }
        .main-content {
            flex: 1 0 auto;
        }
        footer {
            flex: 0 0 auto;
        }
    }
}    