.social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(246, 191, 119, 0.5);
    padding: 20px 0;
    .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #301e1e;
        border-radius: 50%;
        box-shadow: 0 0 5px #f19913;
        margin: 0 10px;
        height: 45px;
        width: 45px;
        transition: all 0.3s ease 0s;
        position: relative;
        overflow: hidden;
    }
    .social-icon i {
        font-size: 24px;
        color: rgb(246, 172, 76);
        transition: all 0.3s ease 0s;
        z-index: 1;
    }
    @media (max-width: 767px) {
        .social-icon {
            height: 30px;
            width: 30px;
        }
        .social-icon i {
            font-size: 16px;
        }
    }
    .social-icon:hover i{
        color: #fff;
    }
    .social-icon:after {
        content: "";
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        transform: translate(0, 46px);
        transition: all 0.3s ease 0s;
    }
    .phone:after {
        background-color: #5270ff;
    }
    .telegram:after {
        background-color: #3ab7e5;
    }
    .whatsapp:after {
        background-color: #08bb07;
    }
    .mail:after {
        background-color: #f19913;
    }
    .vk:after {
        background-color: #467fc2;
    }
    .social-icon:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 15px #f19913;
    }
    .social-icon:hover:after {
        transform: translate(0);
    }
}

