.main-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 160px;
    @media (max-width: 1024px) {
        margin-top: 35vh;
    }
    @media (max-width: 767px) {
        height: 100%;
    }
    .main-body {
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
        .logo {
            display: none;
        }
        @media (max-width: 1024px) {
            justify-content: center;
            .logo {
                display: block;
                position: fixed;
                top: 10px;
                left: 40px;
                z-index: 90;
            }
        }
        .main-body-english-grammar {
            font-family: Helvetica;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 17vh;
            color: rgb(250, 216, 172);;
        }
        .main-body-for-kids {
            margin-top: 20px;
            background-color: rgba(0, 0, 0, 0.2);
            font-family: Helvetica;
            font-size: 12vh;
            color: rgb(246, 172, 76);
        }
        @media (max-width: 1024px) {
            .main-link {
                background-color: #261607;
                height: 100px;
                width: 100px;
                font-size: 16px;
                border: 5px solid  rgba(250, 216, 172, 0.3);
                position: fixed;
                top: 60px;
                left: 50px;
                z-index: 100;
            }
            .main-body-english-grammar {
                font-size: 13vh;
            }
        }
        @media (max-width: 767px) {
            .main-body-english-grammar {
                font-size: 10vh;
            }
            .main-body-for-kids {
                font-size: 8vh;
            }
        }
        @media (max-width: 576px) {
            .main-body-english-grammar {
                font-size: 7vh;
            }
            .main-body-for-kids {
                font-size: 5vh;
            }
            .logo {
                width: 90px;
            }
            .main-link {
                height: 80px;
                width: 80px;
                font-size: 15px;
                top: 30px;
                left: 35px;
            }
        }
    }
}
