.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(246, 191, 119, 0.5);
    border-radius: 12px;
    background-color: #301e1e;
    color: rgb(246, 191, 119);
    width: 50vw;
    transform: scale(0.5);
    transition: all 0.3s ease;
    text-transform: uppercase;
    @media (max-width: 767px) {
        font-size: 20px;
        width: 380px;
    }
    @media (max-width: 576px) {
        font-size: 16px;
        width: 280px;
    }
    @media (max-width: 360px) {
        font-size: 14px;
        width: 220px;
    }
    span {
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    @media (max-width: 767px) {
        span {
            font-size: 20px;
        }
    }
}

.modal-content.active {
    transform: scale(1);
}

.btn-close {
    color: rgb(246, 191, 119);
    border: none;
    background: none;
    opacity: 0.4;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    transition: all 0.3s ease;
}

@media (max-width: 576px) {
    .btn-close {
        font-size: 16px;
    }
}

.btn-close:hover {
    opacity: 1;
}