*,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    border-bottom: 1px solid rgba(246, 191, 119, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #301e1e;
    z-index: 3;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    .header-logo {
        position: fixed;
        z-index: 3;
        width: 55px;
        .logo {
            width: 100%;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }
    .header-menu {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        a {
            display: block;
            color: rgba(246, 191, 119, 0.5);
            border-radius: 5px;
            padding: 0 5px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 400;
            transition: all 0.2s;
            &:hover {
                color: rgb(250, 216, 172);
                text-decoration: underline;
            }
            &.active {
                color: rgb(246, 172, 76);
                text-decoration: underline;
            }
        }
    }
    .header-burger {
        display: none;
    }
    @media (max-width: 767px) {
        .header-burger {
            display: block;
            position: relative;
            z-index: 3;
            width: 30px;
            height: 20px;
            cursor: pointer;
        }
        .header-burger:before,
        .header-burger:after,
        .header-burger span {
            content: '';
            background-color: rgb(250, 216, 172);
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        .header-burger span {
            top: 9px;
        }
        .header-burger:before {
            top: 0;
        }
        .header-burger:after {
            bottom: 0;
        }
        .header-burger--active span {
            transform: scale(0);
        }
        .header-burger--active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        .header-burger--active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header-menu {
            display: block;
            position: fixed;
            top: -100%;
            right: 0;
            width: 50%;
            height: 100%;
            background-color: #301e1e;
            z-index: 2;
            padding: 60px 0 0 10px;
            margin-top: 20px;
            transition: all 0.5s ease;
        }
        .header-menu--active {
            top: 0;
        }
        .header-menu a {
            font-size: 25px;
            margin: 0 0 20px 0;
        }
    }
}