.list {
    display: flex;
    justify-content: right;
    padding-top: 60px;
    padding-right: 40px;
    .title-list {
        color: rgb(246, 172, 76);
        font-weight: 300;
        margin-bottom: 1rem;
    }
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        a {
            color: rgb(246, 172, 76);
            border: 1px solid  rgba(246, 191, 119, 0.5);
            border-radius: 5px;
            background-color: rgba(48, 30, 30, 0.7);
            font-size: 25px;
            font-weight: 400;
            width: 40vw;
            margin: 10px auto;
            padding: 10px;
            transition: all 0.3s ease;
            @media (max-width: 576px) {
                font-size: 20px;
            }
            @media (max-width: 1024px) {
                width: 60vw;
            }
            &:hover {
                color: rgb(250, 216, 172);
                box-shadow: 0 0 10px rgba(246, 191, 119, 0.8);
                transform: translateY(-2px);
            }
        }
    }
}

@media (max-width: 1024px) {
    .list {
        justify-content: center;
        padding-right: 0px;
    }
}