.contacts_item {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .contacts {
        font-size: 25px;
        width: 50%;
        border-bottom: 1px solid rgba(246, 191, 119, 0.5);
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 10px 0;
        &.contacts:first-child {
            border-top: 1px solid rgba(246, 191, 119, 0.5);
        }
        @media (max-width: 767px) {
            font-size: 20px;
            width: 90%;
        }
        @media (max-width: 360px) {
            font-size: 16px;
        }
    }
    a {
        color: rgb(250, 216, 172);
        font-weight: 400;
        margin: 15px 0;
        transition: all 0.3s ease;
        &:hover {
            text-decoration: underline;
        }
    }
}