.detail {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    padding-top: 80px;
}
.title-category-wrapper {
    display: flex;
    text-align: center;
    .title-category {
        color: rgba(246, 191, 119, 0.5);
        margin: 0 auto;
        font-size: 30px;
        font-weight: 300;
        @media (max-width: 767px) {
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
        }
        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
}
