.footer-content {
    color: rgb(250, 216, 172);
    background-color: rgba(11, 11, 11, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-top: 1px solid rgba(246, 191, 119, 0.5);
}