body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.titleSchool {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  text-align: center;
  align-items: center;
}

.btn-round {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
  border: 10px solid  rgba(250, 216, 172, 0.3);
  box-shadow: 0 0 5px rgb(250, 216, 172);
  border-radius: 50%;
  color: rgb(246, 172, 76);
  transition: all 0.4s ease;
  margin-top: 25px;
  &.btn-round:hover {
    border: 1px solid rgba(250, 216, 172, 0.7);
    color: rgb(250, 216, 172);
    box-shadow: 0 0 20px rgb(250, 216, 172);
  }
}